langchain
langchain_community
langchain_openai
langchain_anthropic
langchain_pinecone
langchain_text_splitters
openai
pinecone[grpc]
unstructured
faiss-cpu
requests
beautifulsoup4
pandas
numpy

langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-core
notebook
tavily-python
wikipedia
trustcall
langgraph-cli

neo4j

fastapi
uvicorn